Main {
    color:black;
    padding-left: 4px;
    font: sans-serif;
  }
header{
  background-color:dimgrey;
  color:white;
  padding-left: 10px;
  margin-left: 10px;
  padding-top: 0px;
}
footer{
  background-color: dimgray;
  padding: 10px;
  margin: 10px;
  border: 4px solid black;
}
nav{
  margin-left: 10px;
  background-color: black;  
  padding-top: 0px;
  padding-left: 10px;
}

 a{color: white;
  margin: 10px;
  font-size: 50px;
}
#blue{
  color: blue;
}
#green{
  color: green;
}
#yellow{
  color: yellow;
}
body{
  background-color: lightgray;
}