body{
    background-color:yellow;
}
h1{
    background-color:lightyellow;
    color:darkgoldenrod;
}
nav{
    margin-left: 10px;
    background-color: black;  
    padding-top: 0px;
    padding-left: 10px;
  }
  
   a{color: white;
    margin: 20px;
    font-size: 30px;
  }