Main {
    background-color: white;
    color:black;
    padding-left: 4px;
  }
header{
  background-color:black;
  color:white;
  padding-left: 4px;
}
footer{
  background-color: dimgray;
  padding-left: 4px;
  padding-right: 100px;
}
<a href="blue.html" >Blue</a>{
  margin: 4px;
}