Main {
    background-color: white;
    color:black;
    padding-left: 4px;
    padding-right: 100px;
  }
header{
  background-color:black;
  color:white;
  padding-left: 4px;
}
footer{
  background-color: dimgray;
  padding-left: 4px;
}