Main {
    background-color: white;
    color:black;
    padding-left: 4px;
    font: sans-serif;
  }
header{
  background-color:black;
  color:white;
  padding-left: 4px;
}
footer{
  background-color: dimgray;
  padding: 10px;
  margin: 10px;
  border: 4px solid black;
}
nav{
  margin: 4px;
}
#yellow{
  color:burlywood;
  background-color:darkgoldenrod;
}
a{
  margin: 10px;
  color: white;
  background-color: black;
}